* {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.mainbanner{
    height: 150px;
    width: 100vw;
    background: repeating-linear-gradient(45deg, rgb(42, 40, 40), rgb(25, 24, 24) 10px);
}
.mainbanner .title{
    font-size: 120px;
    z-index: 20;
}
#bnr {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer; /* Hace que el banner sea clickeable */
    overflow-y: hidden;
}

.title {
    text-align: left;
    font-weight: bold;
    font-size: 2vw;
    margin-left: 2vw;
    -webkit-text-fill-color: transparent;
}

.type {
    margin-right: 2vw;
    opacity: 0.5;
    font-size: 140px;
}

/* Para el subtítulo */
.subtitle {
    font-size: 1.5vw;
    margin-left: 2vw;
    margin-top: 10px;
}

.banner156{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/AltarOfInvocationBanner.png);
}
.banner156 .title{
    background: linear-gradient(to top right,#585656,#caf1f0 40%,#ffc400 60%);
    -webkit-background-clip: text;
}

.banner163{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/PlegasLabyrinthBanner.png);
}
.banner163 .title{
    background: linear-gradient(to top left,#9e75ff,#70e2ff,#cd93ff);
    -webkit-background-clip: text;
}

.banner184{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/BirthOfOriginBanner.png);
}
.banner184 .title{
    background: linear-gradient(to top left,#f12cd7,#d477ff 40%,#353333);
    -webkit-background-clip: text;
}

.banner181{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/SunkenHolyGroundBanner.png); 
}
.banner181 .title{
    background: linear-gradient(to bottom left,#080cff 20% ,#9900ff,#ff7b47 90%);
    -webkit-background-clip: text;
}

.banner125{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/CrimsonTowerOfHowlingFlamesBanner.png);  
}
.banner125 .title{
    background: linear-gradient(to bottom left,#666266,#9e5291,#ff478d 80%);
    -webkit-background-clip: text;
}
.banner126{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/NeverEndingDarknessBanner.png);
}
.banner126 .title{
    background: linear-gradient(to bottom left,#be5eb6,#b15caa,#f947ff);
    -webkit-background-clip: text;
}

.banner127{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/CrimsonCradleOfFlamesBanner.png);  
}
.banner127 .title{
    background: linear-gradient(to bottom left,#c771c0 20% ,#916c91,#ff47f6 90%);
    -webkit-background-clip: text;
}

.banner155{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/SavageWhiteGhostCastleBanner.png);   
}
.banner155 .title{
    background: linear-gradient(to bottom left,#080cff 20% ,#9900ff,#ff7b47 90%);
    -webkit-background-clip: text;
}

.banner182{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/BloomingMineralFieldBanner.png);  
}

.banner183{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/NightmareCribBanner.png);   
}

.banner204{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/SerpentiumTowerBanner.png);   
}

.banner205{
    background-image: linear-gradient(rgba(255, 255, 255, 0.20),rgba(255, 255, 255, 0.05)),url(images/OrchestraHallBanner.png);
}